{% extends 'base.html' %} {% block content %}
<main class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1 class="text-secondary">{{task.title}}</h1>

      <!-- para ver o desatar estos errores voy a inspeccionar y le saco el required a algun input -->
      {% if error %}
      <div class="alert alert-danger" role="alert">{{error}}</div>
      {% endif %}

      <form method="POST">
        {% csrf_token %} {{form.as_p}}
        <button class="btn btn-primary">Update</button>
      </form>

      <div class="mt-4 d-flex">
        <form action="{% url 'complete_task' task.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-secondary">Complete</button>
        </form>

        <form action="{% url 'delete_task' task.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger mx-1">Delete</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
